<div class="inline-drawer w-100 entry-item">
    <div class="inline-drawer-header standoutHeader p-5px">
        <div class="flex-container flex1 gap-15px">
            <div class="inline-drawer-toggle inline-drawer-icon fa-solid fa-circle-chevron-down down text-quote"></div>
            <span class="flex1 entry-comment"></span>
            <span class="entry-uid"></span>
            <input type="checkbox" name="entry-selected">
        </div>
    </div>

    <div class="inline-drawer-content p-5px">
        <div class="flex-container flex-column">
            <span class="text-muted entry-content"></span>
        </div>
    </div>
</div>