<div class="wi-bulk-mover-custom-css">
	<div class="inline-drawer">
		<div class="inline-drawer-toggle inline-drawer-header">
			<b>WI Bulk Mover</b>
			<div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
		</div>

		<div id="wi-bulk-mover-settings-window" class="inline-drawer-content p-15px">
			<div class="flex-container flex-column mb-10px">
				<b>Debug settings</b>

				<div class="flex-container">
					<input id="wi-bulk-mover-check-configuration" class="menu_button" type="button" value="Check Configuration" />
					<span>Print the configuration values ​​through the console</span>
				</div>

				<label class="flex-container">
					<input id="wi-bulk-mover-debug" wi-bulk-mover-setting="debug" type="checkbox" />
					<span>Enable/Disable the debug console logs</span>
				</label>
			</div>
		</div>
	</div>
</div>
